/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/*MAIN-COLOR : #087f5b
 GREY-COLOR : #343a40
 SHADE-COLOR: #0ca678*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  border-bottom: 20px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 48px;
}
img {
  border-radius: 20px;
 width: 100%;
}
h2 {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  gap:5rem;
}
.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
.btn:link,
.btn:visited {
  border: 1px solid;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #087f5b;
  color: #fff;
  display: inline-block;
}
.btn:active,
.btn:hover {
  background-color: #0ca678;
}
.btn--small {
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 40px;
}
.btn--big {
  font-size: 20px;
  padding: 16px 20px;
  margin-top: 15px;
  border-radius: 60px;
}
/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header { 
  margin-top: 48px;
  margin-bottom: 100px;
}

.header-text-box {
  align-self: center;
}

h1 {
  margin-bottom: 24px;
  font-size: 44px;
  letter-spacing: -1px;
  line-height: 1.1;
  color: #087f5b;
}

.header-text {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.4;
}

.header-img,
.header-text {
 flex:1;
}
.hero-img img {
  width: 100%;
  height: auto;
  display: block;
}
/* FEATURES */

.features-icon {
  stroke: #087f5b;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.5;
}

/* TESTIMONIAL */
.testimonial-section {
  background-color: #087f5b;
  padding: 20px 20px;
  border-radius: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
  color: #fff;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

.testimonial-text {
  font-style: italic;

  font-size: 18px;
  margin-bottom: 24px;
}
.testimonial-section img {
  border-radius: 20px;
 width:250px;
}

/* CHAIRS */
.chair-box {
  padding: 24px;
}

h3 {
  margin-bottom: 24px;
  font-size: 20px;
}

.chair-details {
  list-style: none;
  margin-bottom: 24px;
  font-size: 16px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  stroke: #087f5b;
  width: 30px;
  height: 30px;
}
.chair {
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.chair-price {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
}
.chair img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
footer {
  margin-bottom: 48px;
  font-size: 14px;

  color: #495057;
}
